<!-- <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">DS Vessel Map</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
       
    </div>
</nav> -->


<!-- <ul id="menu=list" class="navbar-nav mr-auto"> -->
<li class="nav-item active" id="nav-item-1" onclick="routing(this.id);">
    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item" id="nav-item-2" onclick="routing(this.id);">
    <a class="nav-link" href="../views/monitors.html">Monitors</a>
</li>
<li class="nav-item" id="nav-item-3">
    <a class="nav-link" href="../swagger">Swagger</a>
</li>
<li class="nav-item" id="nav-item-4" onclick="routing(this.id);">
    <a class="nav-link" href="../views/admin.html">Admin</a>
</li>
<li class="nav-item">
    <a id="nav-item-5" class="nav-link" onclick="refreshData()" id="refresh-data-btn" href="#">Refresh</a>
</li>
<!-- <button class="btn btn-primary" >Refresh</button> -->
<!-- <li class="nav-item">
        <a class="nav-link disabled" tabindex="-1" aria-disabled="true">Admin</a>
    </li> -->
<!-- </ul> -->